{% extends 'base.html' %}
{% block title %}Edit {{ post.title }}{% endblock %}

{% block content %}
<div class="container fixed-grid mt-5 is-fluid has-1-cols-mobile">
  <div class="grid">
    <div class="cell control mx-3">
      <form action="{% url 'edit_post' post_slug=post.slug %}" method="post">
        {% csrf_token %}
        <div class="field">
          <label class="label">
            <span class="has-text-danger has-text-weight-bold">*</span>Title
          </label>
          <div class="control">
            <input
              class="input"
              type="text"
              name="title"
              value="{{ post.title }}"
              required
            />
          </div>
        </div>
        <div class="field">
          <label class="label">
            <span class="has-text-danger has-text-weight-bold">*</span
            >Description
          </label>
          <div class="control">
            <input
              class="input"
              type="text"
              name="description"
              value="{{ post.description }}"
              required
            />
          </div>
        </div>
        <div class="field">
          <label class="label">
            <span class="has-text-danger has-text-weight-bold">*</span>Slug
          </label>
          <div class="control">
            <input
              class="input"
              type="text"
              name="slug"
              value="{{ post.slug }}"
              required
            />
          </div>
        </div>
        <div class="field">
          <label class="label">Content</label>
          <div class="control">
            <textarea
              class="textarea"
              name="content"
              placeholder="What is the content of the post?"
              rows="20"
            >{{ post.content }}</textarea>
          </div>
        </div>
        <div class="field">
          <label class="checkbox">
            <input
              type="checkbox"
              name="is_rtl"
              {% if post.is_rtl %}checked{% endif %}
            />
            Is RTL
          </label>
        </div>
        <div class="field">
          <label class="checkbox">
            <input
              type="checkbox"
              name="is_public"
              {% if post.is_public %}checked{% endif %}
            />
            Is public
          </label>
        </div>
        <p class="control mt-2">
          <button class="button is-fullwidth">
            <span class="icon">
              <i class="fas fa-check"></i>
            </span>
            <span>Save</span>
          </button>
        </p>
      </form>
    </div>
    <div class="cell content mx-3" {% if post.is_rtl %}dir="rtl"{% endif %}>
      {{ post.get_markdown | safe }}
    </div>
  </div>
</div>
{% endblock %} 

{% block script %}
<script>
  $(document).ready(function () {
    var isPageDirty = false;

    $(window).on("beforeunload", function () {
      if (isPageDirty) {
        return "Are you sure you want to leave? Any unsaved changes will be lost.";
      }
    });
    $("a").on("click", function (e) {
      if (
        isPageDirty &&
        !confirm(
          "Are you sure you want to leave this page? Any unsaved changes will be lost."
        )
      ) {
        e.preventDefault();
      }
    });
    $("input, textarea, select").change(function () {
      isPageDirty = true;
    });
  });
</script>
{% endblock %}
