{% extends 'base.html' %}
{% block title %}Edit {{ post.title }}{% endblock %}

{% block content %}
<div class="container fixed-grid mt-5 is-fluid has-1-cols-mobile">
  <div class="grid">
    <div class="cell control mx-3">
      <form action="{% url 'edit_post' post_slug=post.slug %}" method="post">
        {% csrf_token %}
        <textarea
          class="textarea"
          name="content"
          placeholder="What is the content of the post?"
          rows="20"
        >{{ post.content }}</textarea>
        <p class="control mt-2">
          <button class="button is-fullwidth">
            <span class="icon">
              <i class="fas fa-check"></i>
            </span>
            <span>Save</span>
          </button>
        </p>
      </form>
    </div>
    <div class="cell content mx-3">{{ post.get_markdown | safe }}</div>
  </div>
</div>
{% endblock %}
