{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
{% if has_permission and posts_with_unread_comments %}
<section class="section has-text-centered has-background-white-bis">
  <h1 class="title">Unread comments</h1>
  <div class="grid is-col-min-12">
    {% for post in posts_with_unread_comments %}
    <div class="cell content">
      <a
        class="is-size-6 has-text-weight-semibold"
        href="{% url 'single_post' post_slug=post.slug %}"
        >{{ post.title }}</a
      >
      <p class="is-italic">
        {{ post.unread_comments_count }} unread comment(s)
      </p>
    </div>
    {% endfor %}
  </div>
</section>
{% endif %}

<div class="container fixed-grid mt-5 has-text-centered has-1-cols-mobile">
  <div class="grid">
    <div class="cell content mx-3 is-size-5">
      <strong>“That's Right, I'm Artin!”</strong>
      <p>
        I am a software developer who is interested in doing activities that are
        useful to the public. The more we go to the underlying layers, the
        happier I am!
      </p>
      <ol class="is-upper-roman">
        <li>
          I wrote a program to automatically trade the ETC/USDT pair as my high
          school internship project.
        </li>
        <li>
          In less than 2 months, I implemented my own programming language from
          scratch.
        </li>
        <li>
          I created a software to better monitor and manage products in a
          warehouse. This program also participated in the Computer Olympiad.
        </li>
      </ol>
      <p>
        You can see my full resume here:<br />
        <a href="{% static 'documents/resume-en.pdf' %}">English version</a> ∙
        <a href="{% static 'documents/resume-fa.pdf' %}">Farsi version</a>
      </p>
    </div>
    <div class="cell mx-5">
      <h1 class="title">My last post</h1>
      <h2 class="subtitle mt-2">Maybe it shows what I am doing</h2>
      {% if last_post %}
      <a
        class="cell box has-text-left"
        href="{% url 'single_post' post_slug=last_post.slug %}"
      >
        <span class="has-text-weight-semibold">{{ last_post.title }}</span>
        <p class="mt-2">{{ last_post.description }}</p>
        <hr />
        <p>{{ last_post.get_truncated_content }}</p>
        <div class="tags mt-3">
          {% for tag in last_post.tags.all %}
          <span class="tag">{{ tag.name }}</span>
          {% endfor %}
        </div>
        <span class="icon-text">
          <span class="icon">
            <i class="fas fa-comment"></i>
          </span>
          <span>{{ last_post.comments.values | length }}</span>
        </span>
      </a>
      {% else %}
      <p>
        Oops! Unfortunately, nothing was found; go look at my resume or social
        networks for now...
      </p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
