{% extends 'base.html' %}
{% load static %}
{% block title %}{{ post.title }}{% endblock %}

{% block content %}
<div class="container columns mt-5 mx-auto is-fluid">
  <div class="column">
    <h1 class="title">{{ post.title }}</h1>
    <h2 class="subtitle mt-2 mb-3 is-size-6">
      <i>{{ post.created_at | date:'F d, Y' }}</i>
    </h2>
    <p>{{ post.description }}</p>
    <div class="tags mt-3">
      {% for tag in post.tags.all %}
      <span class="tag">{{ tag.name }}</span>
      {% endfor %}
    </div>
    <span class="icon-text">
      <span class="icon">
        <i class="fas fa-comment"></i>
      </span>
      <span>{{ post.comments.values | length }}</span>
    </span>
    {% if has_permission %}
    <a class="button mt-5 is-fullwidth" href="{% url 'edit_post' post.slug %}">
      <span class="icon">
        <i class="fas fa-pen"></i>
      </span>
      <span>Edit</span>
    </a>
    {% endif %}
  </div>

  <div class="column content is-four-fifths is-size-5">
    {{ post.get_markdown | safe }}
    <hr />
    <div class="container">
      <h5 class="title is-4">Comments on this post</h5>
      <div class="notification is-primary">
        {% if comments %} {% for comment in comments %}
        <article class="media">
          <div class="media-content">
            <div class="content">
              <p>
                <strong>{{ comment.name }} </strong>
                {% if comment.email is not None %}
                <small>{{ comment.email }}</small>
                {% endif %} {% if comment.is_admin_comment %}
                <span class="tag is-black is-hoverable has-text-weight-semibold"
                  >ADMIN</span
                >
                {% endif %}
                <small>{{ comment.timestamp }}</small>
                <br />
                {{ comment.content }}
              </p>
            </div>
          </div>
          <div class="media-right">
            <button
              id="encourage-comment-id-{{ comment.id }}"
              class="icon-text mt-1"
            >
              <span class="icon">
                <i class="fas fa-thumbs-up"></i>
              </span>
              <span>{{ comment.likes }}</span>
            </button>
            <button {% if has_permission %} id="set-viewed-comment-id-{{ comment.id }}" {% endif %} class="icon">
              <i
                class="fas {% if comment.viewed %}fa-check-double{% else %}fa-check{% endif %}"
              ></i>
            </button>
            {% if has_permission %}
            <button id="purge-comment-id-{{ comment.id }}" class="icon">
              <i class="fas fa-trash"></i>
            </button>
            {% endif %}
          </div>
        </article>
        {% endfor %} {% else %}
        <h2 class="subtitle my-auto has-text-white has-text-centered">
          Be the first to comment!
        </h2>
        {% endif %}
      </div>
      <h5 class="title is-4">Leave a comment</h5>
      <div class="box has-background-white-bis">
        <form
          action="{% url 'single_post' post_slug=post.slug %}"
          method="post"
        >
          {% csrf_token %}
          <div class="field">
            <label class="label">
              <span class="has-text-danger has-text-weight-bold">*</span>Name
            </label>
            <div class="control">
              <input
                class="input"
                type="text"
                name="comment_name"
                placeholder="e.g. John Doe"
                required
              />
            </div>
          </div>
          <div class="field">
            <label class="label">Email</label>
            <div class="control">
              <input
                class="input"
                type="email"
                name="comment_email"
                placeholder="e.g. JohnDoe@mail.com"
              />
            </div>
          </div>
          <div class="field">
            <label class="label">
              <span class="has-text-danger has-text-weight-bold">*</span>Comment
            </label>
            <div class="control">
              <textarea
                class="textarea"
                name="comment_content"
                placeholder="e.g. It was really great!"
                rows="5"
                required
              ></textarea>
            </div>
          </div>
          <p class="content is-italic is-size-6 has-text-weight-medium">
            Comments can only be deleted by the author of the post...
          </p>
          <div class="control has-text-right">
            <button class="button" type="submit">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
  $(document).ready(function () {
    $('[id^="encourage-comment-id-"]').click(function () {
      var commentId = this.id.replace("encourage-comment-id-", "");
      $.ajax({
        url: "{% url 'single_post' post_slug=post.slug %}",
        type: "POST",
        beforeSend: function (xhr) {
          xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
        },
        data: {
          like_comment_id: parseInt(commentId),
        },
        success: function (response) {
          if (response.status === "success" && response.action === "like") {
            $(`#encourage-comment-id-${response.comment_id}`)
              .find("span")
              .last()
              .text(response.likes);
          }
        },
        error: function (xhr, status, error) {
          console.error("Error liking comment:", error);
        },
      });
    });

    $('[id^="purge-comment-id-"]').click(function () {
      var commentId = this.id.replace("purge-comment-id-", "");
      if (confirm("Are you sure you want to delete this comment?")) {
        $.ajax({
          url: "{% url 'single_post' post_slug=post.slug %}",
          type: "DELETE",
          contentType: "application/json",
          beforeSend: function (xhr) {
            xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
          },
          data: JSON.stringify({
            comment_id: parseInt(commentId),
          }),
          success: function (response) {
            if (response.action === "delete") {
              $(`#purge-comment-id-${commentId}`).closest(".media").remove();
            }
          },
          error: function (xhr, status, error) {
            console.error("Error deleting comment:", error);
          },
        });
      }
    });

    $('[id^="set-viewed-comment-id-"]').click(function () {
      var commentId = this.id.replace("set-viewed-comment-id-", "");
      $.ajax({
        url: "{% url 'single_post' post_slug=post.slug %}",
        type: "PATCH",
        contentType: "application/json",
        beforeSend: function (xhr) {
          xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
        },
        data: JSON.stringify({
          comment_id: parseInt(commentId),
          action: "mark_viewed",
        }),
        success: function (response) {
          if (response.action === "mark_viewed") {
            var iconElement = $(`#set-viewed-comment-id-${commentId}`).find(
              "i"
            );
            iconElement.removeClass("fa-check").addClass("fa-check-double");
          }
        },
        error: function (xhr, status, error) {
          console.error("Error marking comment as viewed:", error);
        },
      });
    });
  });
</script>
{% endblock %}
